In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('../example_datasets/airlinedelaycauses_DelayedFlights.csv')

In [31]:
df.head()

   Unnamed: 0  Year  Month  ...  NASDelay  SecurityDelay  LateAircraftDelay
0           0  2008      1  ...       NaN            NaN                NaN
1           1  2008      1  ...       NaN            NaN                NaN
2           2  2008      1  ...       NaN            NaN                NaN
3           4  2008      1  ...       0.0            0.0               32.0
4           5  2008      1  ...       NaN            NaN                NaN

[5 rows x 30 columns]

In [30]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [36]:
from datetime import datetime as dt

In [39]:
import time

In [43]:
df['DepTime'][0]

2003.0

In [52]:
dt.strptime(str(df['DepTime'][0]), "%H%M.%S").time()

datetime.time(20, 3)